.hvh-cart {
	padding-top: $hvh-height-main-header;
	.hvh-progress-wizard {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-top: 24px;
	}
	.hvh-progress-wizard-step {
		&.active {
			.hvh-progress-wizard-steplabel {
				color: $hvh-primary-color;
			}
			.hvh-progress-wizard-icon {
				i {
					&:not([class*='icon-']) {
						display: none;
					}
					&.icon-active {
						color: $hvh-primary-color;
						display: inline-block;
					}
				}
			}
		}
		&.complete {
			.hvh-progress-wizard-steplabel {
				color: $hvh-semantic-positive-color;
			}
			.hvh-progress-wizard-icon {
				i {
					&:not([class*='icon-']) {
						display: none;
					}
					&.icon-complete {
						color: $hvh-semantic-positive-color;
						display: inline-block;
					}
				}
			}
		}
	}
	.hvh-progress-wizard-icon,
	.hvh-progress-wizard-steplabel {
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		color: $hvh-neutral-medium-sub-color;
	}
	.hvh-progress-wizard-icon {
		position: relative;
		i {
			font-size: 1.6rem;
			&[class*='icon-'] {
				display: none;
			}
		}
		&:after {
			content: '';
			width: 100%;
			position: absolute;
			height: 1px;
			background: $hvh-neutral-lighter-border-color;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
	.hvh-progress-wizard-steplabel {
		margin-top: 4px;
	}
}