.hvh-payment-complete {
	padding-top: $hvh-height-main-header;
	padding-bottom: 24px;
	background: $hvh-primary-blue-light-color-06;
}

.hvh-payment-complete-wrapper {
	padding: 56px;
	background-color: $hvh-neutral-white-color;
	margin: 56px 0;
	border-radius: 24px;
	.hvh-progress-wizard {
		max-width: 650px;
		margin: 0 auto;
	}
}

.notification-valid {
	border-radius: 10px;
	padding: 56px;
	.icon {
		img {
			display: block;
			margin: 0 auto;
			max-width: 120px;
		}
	}
	.content {
		text-align: center;
		margin-bottom: 32px;
		h3 {
			color: $hvh-primary-color;
			font-size: 3.4rem;
			margin-bottom: 16px;
		}
		p {
			color: $hvh-neutral-medium-sub-color;
			+ p {
				margin-top: 8px;
			}
		}
	}
	.buttons {
		display: flex;
		justify-content: center;
	}
}
