.hvh-pricing {
	padding: 16px 0;
	background: $hvh-primary-blue-light-color-06;
}

.hvh-pricing-wrapper {
	padding: 16px 0;
	background: $hvh-neutral-white-color;
	border-radius: 8px;
	height: 100%;
	box-shadow: $hvh-box-shadow;
}

.hvh-pricing-form {
	.hvh-pricing-step {
		margin-bottom: 16px;
		.row {
			&:not([class*='col-lg-12']),
			&:not([class*='col-lg-12']) {
			}
		}
	}
	.hvh-pricing-step-head {
		padding: 0 16px;
		h3 {
			font-size: 2.2rem;
			font-weight: 400;
			margin-bottom: 16px;
		}
	}
	.hvh-pricing-step-body {
		.hvh-pricing-users {
			width: 100%;
			.input-group {
				padding: 0 16px;
			}
			.hvh-result-pricing-users {
				position: relative;
				display: inline-flex;
				align-items: center;
				background: $hvh-primary-color;
				color: $hvh-neutral-white-color;
				padding: 4px 12px;
				margin-top: 16px;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 100%;
					border-top: 15px solid transparent;
					border-left: 10px solid $hvh-primary-color;
					border-bottom: 15px solid transparent;
					background-color: $hvh-neutral-white-color;
				}
				.hvh-pricing-user-pricing-yearly {
					margin-right: 8px;
				}
			}
		}
		.hvh-pricing-currencies {
			padding: 0 16px;
			width: 100%;
		}
	}
	.app-item {
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		background-color: $hvh-neutral-white-color;
		border: 1px solid $hvh-neutral-lighter-border-color;
		border-radius: 8px;
		margin-bottom: 16px;
		overflow: hidden;
		user-select: none;
		box-shadow: $hvh-box-shadow;
	}
	.hvh-pricing-app-name {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding: 8px;
	}
	.hvh-pricing-app-icon {
		position: relative;
		-ms-flex: 0 0 48px;
		flex: 0 0 48px;
		max-width: 48px;
		background-color: $hvh-primary-color;
		overflow: hidden;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 32px;
			height: 32px;
			transform: translate(-50%, -50%);
		}
	}
	.hvh-pricing-app-real-name {
		font-weight: 700;
	}
	.hvh-pricing-app-price {
		font-size: 0.85em;
	}
	.hvh-form-checkbox-module {
		padding: 8px;
	}
	.hvh-pricing-hosting-list {
		.hvh-pricing-item-hosting {
			transition: 0.3s all ease-in-out;
			label {
				cursor: pointer;
				user-select: none;
				display: flex;
				align-items: center;
				padding: 16px 24px;
				span {
					margin-left: 8px;
					font-weight: 700;
				}
			}
			small {
				margin-left: 16px;
				> a {
					color: $hvh-primary-color;
					font-weight: 700;
				}
			}
			&:hover {
				background: $hvh-primary-blue-light-color-05;
			}
		}
	}
	.list-module-items-container {
		.form-container {
			padding: 0 16px;
		}
		.group-module {
			+ .group-module {
				margin-top: 8px;
			}
		}
	}
	.group-module-name {
		position: relative;
		display: inline-block;
		color: $hvh-primary-color;
		font-size: 1.6rem;
		font-weight: 700;
		background: $hvh-primary-blue-light-color-05;
		padding: 4px 16px;
		margin-bottom: 16px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			height: 100%;
			border-top: 17.5px solid transparent;
			border-left: 10px solid $hvh-primary-blue-light-color-05;
			border-bottom: 17.5px solid transparent;
			background-color: $hvh-neutral-white-color;
		}
	}
}

.hvh-pricing-board {
	position: sticky;
	top: 0;
	top: $hvh-height-main-header + 24px;
	background: $hvh-neutral-white-color;
	.tab__list {
		display: flex;
		flex-wrap: wrap;
		.item {
			position: relative;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			padding: 8px 16px;
			text-align: center;
			span {
				font-weight: 700;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 4px;
				width: 0;
				background-color: $hvh-primary-blue-light-color-02;
				border-radius: 2px;
				transition: 0.3s all ease-in-out;
			}
			&.active {
				&:after {
					width: 50%;
				}
			}
		}
	}
	.tab__content {
		padding: 16px;
		width: 100%;
		table {
			width: 100%;
			td {
				padding: 24px 0;
				word-break: break-word;
				border-bottom: 1px solid $hvh-neutral-lighter-border-color;
			}
			a {
				display: inline-block;
				font-weight: 600;
				color: $hvh-primary-color;
				margin: 0 2px;
			}
		}
	}
	.hvh-pricing-price-yearly-in-year-wrapper {
		margin: 16px 0;
		text-align: right;
		font-size: 1.2rem;
	}
	.hvh-pricing-price-discount-code {
		margin: 16px 0;
	}
	.hvh-pricing-price-is-not-free-trial,
	.hvh-pricing-price-is-free-trial {
		margin-bottom: 16px;
		p {
			margin-bottom: 16px;
		}
		.hvh-pricing-form-button {
			.btn {
				flex-direction: column;
				margin-bottom: 16px;
				span {
					margin-top: 8px;
				}
			}
		}
	}
	.hvh-pricing-board-note {
		margin-top: 16px;
	}
	.alert-danger {
		display: flex;
		align-items: center;
		color: $hvh-semantic-negative-color;
		padding: 16px;
		background: $hvh-semantic-negative-lightest-color;
		margin-bottom: 16px;
		:not(i) {
			padding-left: 8px;
		}
		p {
			margin-bottom: 0;
		}
	}
}
