section.data-detail
	.container
		.row
			.col-lg-4
				.card-data-detail-left
					.card-head
						h1 160.000.000
							span VNĐ
					.card-body
						.card-information-account
							.avatar
								img.lazyload.blur-up.object-cover(src="https://i.pinimg.com/564x/0a/42/5f/0a425fe45daa9e245d82d33b25b57743.jpg", alt="")
							.content
								ul.list-information
									li
										b Nhân viên kinh doanh
									li
										i.far.fa-envelope
										span noreply@odoo.com
									li
										i.far.fa-phone-alt
										span (208) 555-0112
						.card-buttons-action
							a.btn.btn-primary(href="profile.html")
								span Đi tới trang của bạn
								i.far.fa-arrow-right
			.col-lg-8
				.card-data-detail-right
					.invoice-detail
						.card-header
							.company-information
								.company__logo
									img(src="./images/logo-bap-software.png", alt="LGOO-COMPANY")
								.company__content
									h3 Ho Chi Minh Headquarter
									p 17th Floor, Building B - Viettel Complex Tower, Cach Mang Thang Tam Street, District 10, Hochiminh City