// *** CART *** //
section.hvh-cart-shopping
	.container
		.row
			.col-12
				include progress-wizard
			.col-12.col-xl-8
				include cart-products
			.col-12.col-xl-4
				include cart_summary
			.col-12
				.d-flex.justify-content-between.mt-24
					a.btn.btn-secondary.border-primary(href="index.html")
						i.fal.fa-arrow-left
						span Tiếp tục mua hàng
					a.btn.btn-primary(href="address-management.html")
						span Tiến hành thanh toán
						i.fal.fa-arrow-right