section.hvh-cart-products
	.table-cart-products
		table#cart_products
			thead
				tr
					th Sản phẩm
					th(colspan="2") Giá
			tbody
				tr
					td
						span
							img(src="./images/icons/icon-module.svg", alt="")