section.hvh-cart-summary
	.table-cart-summary
		.table-cart-head
			h3 Tổng đơn hàng
		table#cart_total
			tbody
				tr
					td Thành tiền
					td
						b 1.600.000.000
						span đ
				tr
					td Các loại thuế
					td
						b 0
						span đ
				tr
					td Thành tiền
					td
						b -200.000
						span đ
	.table-order-total
		table#order_total
			tbody
				tr
					td TỔNG TIỀN
					td
						b 1.580.000.000
						span đ
				tr
					td(colspan="2")
						.hvh-pricing-price-discount-code
							.input-group
								input.form-control(type="text" placeholder="Nhập mã khuyến mãi")
								.input-group-append
									button.input-group-text.cl-white.bg-primary ÁP DỤNG