// *** PROGRESS WIZARD *** //
.hvh-progress-wizard
	a.no-decoration.active(href="cart-shopping.html")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Xem đơn hàng
	a.no-decoration(href="address-management.html")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Địa chỉ
	a.no-decoration(href="#")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Xác nhận đơn hàng