section.hvh-cart-products
	.block-form
		form(action="#")
			.form-row
				.form-group.col-lg-12
					label.col-form-label(for="name") Tên
					input.form-control(type="text" name="name")
				.form-group.col-lg-6
					label.col-form-label(for="email") Email
					input.form-control(type="email" name="email")
				.form-group.col-lg-6
					label.col-form-label(for="phone") Điện thoại
					input.form-control(type="tel" name="phone" placeholder="+84")
				.form-group.col-lg-6
					label.col-form-label(for="company_name") Tên Công ty
					input.form-control(type="text" name="company_name")
				.form-group.col-lg-6
					label.col-form-label(for="vat") Mã số Thuế
					input.form-control(type="text" name="vat")
				.form-group.col-md-4
					label.col-form-label(for="zip") Mã Zip
					input.form-control(type="text" name="zip")
				.form-group.col-md-8
					label.col-form-label(for="city") Thành phố
					input.form-control(type="text" name="city")
				.form-group.col-lg-6
					label.col-form-label(for="country_id") Quốc gia
					select#country_id.form-control(name="country_id")
						option(value) Chọn quốc gia
						-for(i=0;i<10;i++)
							option(value="") Tên của các quốc gia
				.form-group.col-lg-6
					label.col-form-label(for="state_id") Tỉnh/TP
					select#country_id.form-control(name="state_id")
						option(value) Chọn tỉnh/thành phố
						-for(i=0;i<10;i++)
							option(value="test") Tên của các tỉnh/thành phó