section.table-data
	.container
		.block-table
			table
				thead
					tr
						th # Đơn hàng
						th Ngày đặt hàng
						th Tình trạng hóa đơn
						th.text-right Tổng
				tbody
					-for(i=0;i<10;i++)
						tr
							td
								a(href="#") SAAS/2021/11633A
							td 11/14/2020 04:06 PM
							td
								span.bage.bg-success.cl-white Đã xuất
							td.text-right
								span 635 412
								span đ
						tr
							td
								a(href="#") SAAS/2021/11633A
							td 11/14/2020 04:06 PM
							td
								span.bage.bg-primary.cl-white Sale đã liên hệ
							td.text-right
								span 635 412
								span đ
						tr
							td
								a(href="#") SAAS/2021/11633A
							td 11/14/2020 04:06 PM
							td
								span.bage.bg-warning.cl-white Chưa xuất
							td.text-right
								span 635 412
								span đ
						tr
							td
								a(href="#") SAAS/2021/11633A
							td 11/14/2020 04:06 PM
							td
								span.bage.bg-information.cl-white Mới tạo
							td.text-right
								span 635 412
								span đ