.form-control {
	padding: 8px;
	display: block;
	width: 100%;
	background-clip: padding-box;
	border-radius: 4px;
	background-color: $hvh-neutral-white-color;
	border: 1px solid $hvh-neutral-lighter-border-color;
}

.form-group {
	margin-bottom: 1.6rem;
}

.col-form-label,
.control-label {
	padding-top: calc(0.375rem + 1px);
	padding-bottom: calc(0.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.45;
}
