.form-control {
	padding: 8px;
	display: block;
	width: 100%;
	background-color: $hvh-neutral-white-color;
	border-width: 1px;
	border-style: solid;
	border-color: $hvh-neutral-lighter-border-color;
	transition: 0.3s all ease-in-out;
	border-radius: 4px;
	&:focus {
		color: $hvh-primary-color;
		border-color: $hvh-primary-color;
	}

	&[valid='true'] {
		color: $hvh-semantic-positive-color;
		border-color: $hvh-semantic-positive-color;
		background-image: url('../images/icons/valid.svg');
	}

	&[valid='false'] {
		color: $hvh-semantic-negative-color;
		border-color: $hvh-semantic-negative-color;
		background-image: url('../images/icons/invalid.svg');
		~ .invalid-feedback {
			display: inline-flex;
		}
	}

	&[data-required] {
		padding-right: 32px;
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: right 8px center;
	}
}

.col-form-label {
	margin-bottom: 4px;
	font-size: 1.2rem;
	color: $hvh-neutral-medium-sub-color;
}

.custom-select {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	background: $hvh-neutral-white-color
		url('../images/icons/select-dropdown.svg') no-repeat right 1rem center;
	background-size: 8px 10px;
	border: 1px solid $hvh-neutral-lighter-border-color;
	appearance: none;
	padding: 8px 32px 8px 8px;
}

.group-custom-checkbox {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	span {
		margin-left: 8px;
		font-weight: 700;
		i {
			margin-right: 4px;
		}
	}
}

.custom-checkbox {
	position: relative;
	height: 16px;
	width: 16px;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		appearance: none;
		border: 1px solid $hvh-primary-color;
		border-radius: 2px;
		outline: none;
		transition-duration: 0.2s;
		cursor: pointer;
		&:active {
			transform: scale(1.05);
			border-radius: 50%;
		}
		&:after {
			content: '\2713';
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			pointer-events: none;
			opacity: 0;
			color: $hvh-neutral-white-color;
			transition: 0.3s all ease-in-out;
		}
		&[type='radio'] {
			border-radius: 50%;
			&:after {
				content: '';
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				border: 3px solid transparent;
				border-radius: 50%;
			}
			&:checked {
				background-color: $hvh-primary-blue-light-color-05;
				&:after {
					border: 3px solid $hvh-primary-color;
				}
			}
		}
	}
	input:checked {
		background: $hvh-primary-blue-medium-color-02;
		border: 1px solid transparent;
		&:after {
			opacity: 1;
		}
	}
}

.form-group {
	margin-bottom: 16px;
}

.input-group-append,
.input-group-prepend {
	display: flex;
}

.input-group-text {
	font-size: 1rem;
	display: flex;
	align-items: center;
	padding: 4px 8px;
	border: 2px solid $hvh-neutral-lighter-border-color;
	transition: 0.3s all ease-in-out;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	.form-control {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
		&:focus {
			~ .input-group-append {
				.input-group-text {
					border-color: $hvh-primary-color;
				}
			}
		}
	}
	.form-control {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;
	}
}

.invalid-feedback {
	display: none;
	color: $hvh-semantic-negative-color;
	margin-top: 8px;
}
