.form-control {
	padding: 4px 8px;
	display: block;
	width: 100%;
	background-color: $hvh-neutral-white-color;
	border: 1px solid $hvh-neutral-lighter-border-color;
}

.custom-select {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	background: #fff url('../images/icons/select-dropdown.svg') no-repeat right
		1rem center;
	background-size: 8px 10px;
	border: 1px solid #ced4da;
	appearance: none;
	padding: 4px 32px 4px 8px;
}

.custom-checkbox {
	position: relative;
	height: 16px;
	width: 16px;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		appearance: none;
		border: 1px solid $hvh-primary-color;
		border-radius: 2px;
		outline: none;
		transition-duration: 0.2s;
		cursor: pointer;
		&:active {
			transform: scale(1.05);
			border-radius: 50%;
		}
		&:after {
			content: '\2713';
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			pointer-events: none;
			opacity: 0;
			color: $hvh-neutral-white-color;
			transition: 0.3s all ease-in-out;
		}
		&[type='radio'] {
			border-radius: 50%;
			&:after {
				content: '';
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				border: 3px solid transparent;
				border-radius: 50%;
			}
			&:checked {
				background-color: $hvh-primary-blue-light-color-05;
				&:after {
					border: 3px solid $hvh-primary-color;
				}
			}
		}
	}
	input:checked {
		background: $hvh-primary-blue-medium-color-02;
		border: 1px solid transparent;
		&:after {
			opacity: 1;
		}
	}
}

.form-group {
	margin-bottom: 1.6rem;
}

.input-group-append,
.input-group-prepend {
	display: flex;
}

.input-group-text {
	font-size: 1rem;
	display: flex;
	align-items: center;
	padding: 4px 8px;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	.form-control {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
}
