.form-control {
	padding: 4px 8px;
	display: block;
	width: 100%;
	background-color: $hvh-neutral-white-color;
	border: 1px solid $hvh-neutral-lighter-border-color;
}

.custom-select {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	background: #fff url('../images/icons/select-dropdown.svg') no-repeat right
		1rem center;
	background-size: 8px 10px;
	border: 1px solid #ced4da;
	appearance: none;
	padding: 4px 32px 4px 8px;
}

.form-group {
	margin-bottom: 1.6rem;
}

.input-group-append,
.input-group-prepend {
	display: flex;
}

.input-group-text {
	font-size: 1rem;
	display: flex;
	align-items: center;
	padding: 4px 8px;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	.form-control {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
}
