.hvh-main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: $hvh-neutral-darker-color;
	background-color: rgba($color: $hvh-neutral-white-color, $alpha: 0.1);
	z-index: 999;
	transition: 0.3s all ease-in-out;
	.hvh-main-header-main {
		a {
			&:not(.btn) {
				color: inherit;
			}
			&.btn {
				&:not(.btn-secondary) {
					color: inherit;
					transition: unset;
				}
			}
		}
	}
	&.hvh-scrolled {
		color: $hvh-neutral-darker-color;
		background-color: $hvh-neutral-white-color;
		box-shadow: $hvh-box-shadow;
		.hvh-logo-main-header {
			img {
				&.blur-up.lazyloaded {
					filter: blur(0) brightness(0) invert(1);
				}
			}
		}
	}
	&.hvh-inverted {
		&:not(.hvh-scrolled) {
			background-color: transparent;
			color: $hvh-neutral-white-color;
			.hvh-logo-main-header {
				img {
					&.blur-up.lazyloaded {
						filter: blur(0) brightness(0) invert(1);
					}
				}
			}
		}
		&.hvh-scrolled {
			.hvh-logo-main-header {
				img {
					&.blur-up.lazyloaded {
						filter: blur(0);
					}
				}
			}
		}
	}
}

.hvh-main-header-main {
	height: $hvh-height-main-header;
}

.hvh-logo-main-header {
	display: inline-flex;
	height: 100%;
	float: left;
	img {
		height: 36px;
		width: auto;
		margin: auto 0;
		transition: 0.3s all ease-in-out;
		&.blur-up.lazyloaded {
			filter: blur(0);
		}
	}
}

.hvh-header-buttons {
	float: right;
	display: flex;
	align-items: center;
	height: 100%;
	.btn {
		+ .btn {
			margin-left: 16px;
		}
	}
}

.hvh-primary-nav {
	height: 100%;
	ul {
		height: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 24px;
			> a {
				line-height: $hvh-height-main-header;
				&:not(.btn) {
					font-weight: 600;
				}
			}
			&.has-sub {
				&:after {
					content: '\f078';
					font-family: $hvh-font-icons;
					margin-left: 8px;
				}
			}
		}
	}
}
