#overlay {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba($color: $hvh-neutral-black-color, $alpha: 0.8);
	z-index: 550;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms,
		left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}

.blur-up {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}
}

.pos-center-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: 600;
	white-space: nowrap;
	padding: 0.375rem 0.75rem;
	transition: 0.3s all ease-in-out;
	border-radius: 0.3rem;
}

.btn-lg {
	padding: 1rem 1.5rem;
}

.btn-full {
	display: flex;
	width: 100%;
}

.btn-secondary {
	color: $hvh-primary-color;
	background-color: $hvh-neutral-white-color;
	&:hover {
		background-color: $hvh-primary-blue-light-color-05;
	}
}

.btn-primary {
	color: $hvh-neutral-white-color;
	background-color: $hvh-primary-color;
	&:hover {
		background-color: $hvh-primary-blue-medium-color-01;
	}
}

.btn-positive {
	color: $hvh-neutral-white-color;
	background-color: $hvh-semantic-positive-color;
	&:hover {
		background-color: $hvh-semantic-positive-light-color;
	}
}
