@import 'abstracts/variables';
@import 'abstracts/fonts';
@import 'abstracts/font-awesome';

@import 'globals/reboot';
@import 'globals/form';
@import 'globals/buttons';
@import 'globals/layouts';
@import 'globals/atomic';
@import 'globals/utilities';

@import 'libraries/grid';

@import 'components/tabs';
@import 'components/pagination';
@import 'components/banner-title-page';

@import 'pages/index';
@import 'pages/pricing';
@import 'pages/login';
@import 'pages/cart';
@import 'pages/payment';
@import 'pages/profile.scss';
@import 'pages/complete-payment';