.btn {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: 600;
	white-space: nowrap;
	padding: 0.375rem 0.75rem;
	transition: 0.3s all ease-in-out;
	border-radius: 0.3rem;
	i ~ span {
		margin-left: 8px;
	}
	span ~ i {
		margin-left: 8px;
	}
}

.btn-lg {
	padding: 1rem 1.5rem;
}

.btn-full {
	display: flex;
	width: 100%;
}

.btn-secondary {
	color: $hvh-primary-color;
	background-color: $hvh-neutral-white-color;
	&:hover {
		background-color: $hvh-primary-blue-light-color-05;
	}
}

.btn-primary {
	color: $hvh-neutral-white-color;
	background-color: $hvh-primary-color;
	&:hover {
		background-color: $hvh-primary-blue-medium-color-01;
	}
}

.btn-bg-white {
	color: $hvh-primary-color;
	background-color: $hvh-neutral-white-color;
}

.btn-positive {
	color: $hvh-neutral-white-color;
	background-color: $hvh-semantic-positive-color;
	&:hover {
		background-color: $hvh-semantic-positive-light-color;
	}
}
