.hvh-main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: $hvh-neutral-darker-color;
	background-color: rgba($color: $hvh-neutral-white-color, $alpha: 0.1);
	z-index: 999;
	transition: 0.3s all ease-in-out;
	.hvh-main-header-main {
		a {
			&:not(.btn) {
				color: inherit;
			}
			&.btn {
				&:not(.btn-secondary) {
					color: inherit;
					transition: unset;
				}
			}
		}
	}
	&.hvh-scrolled {
		color: $hvh-neutral-darker-color;
		background-color: $hvh-neutral-white-color;
		box-shadow: $hvh-box-shadow;
	}
	&.hvh-inverted {
		&:not(.hvh-scrolled) {
			background-color: $hvh-primary-dark-color-02;
			color: $hvh-neutral-white-color;
			.hvh-logo-main-header {
				img {
					&.blur-up.lazyloaded {
						filter: blur(0) brightness(0) invert(1);
					}
				}
			}
		}
		&.hvh-scrolled {
			.hvh-logo-main-header {
				img {
					&.blur-up.lazyloaded {
						filter: blur(0);
					}
				}
			}
		}
	}
}

.hvh-main-header-main {
	height: $hvh-height-main-header;
}

.hvh-logo-main-header {
	display: inline-flex;
	height: 100%;
	float: left;
	img {
		height: 36px;
		width: auto;
		margin: auto 0;
		transition: 0.3s all ease-in-out;
		&.blur-up.lazyloaded {
			filter: blur(0);
		}
	}
}

.hvh-header-buttons {
	float: right;
	display: flex;
	align-items: center;
	height: 100%;
	.btn {
		+ .btn {
			margin-left: 16px;
		}
	}
}

.hvh-primary-nav {
	height: 100%;
	ul {
		height: 100%;
		li {
			display: inline-block;
			&:first-child {
				margin-left: 32px;
			}
			+ li {
				margin-left: 24px;
			}
			> a {
				line-height: $hvh-height-main-header;
				&:not(.btn) {
					font-weight: 600;
				}
			}
			&.has-sub {
				&:after {
					content: '\f078';
					font-family: $hvh-font-icons;
					margin-left: 8px;
				}
			}
		}
	}
}

.hvh-main-footer {
	position: relative;
	padding: 24px 0;
	background-color: $hvh-primary-color;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		background-image: url(../images/bg-footer.svg);
		width: 100%;
		height: 70%;
		left: 90%;
		top: 50%;
		transform: translateY(-50%);
		background-size: contain;
	}
}

.hvh-desc-footer {
	color: $hvh-neutral-white-color;
	+ .hvh-desc-footer {
		margin-top: 4px;
	}
}

.hvh-logo-main-footer {
	display: inline-block;
	margin-bottom: 32px;
	img {
		&.blur-up.lazyloaded {
			filter: blur(0) brightness(0) invert(1);
		}
	}
}

.hvh-footer-title {
	color: $hvh-neutral-white-color;
	font-size: 1.8rem;
}

.hvh-footer-links {
	color: $hvh-neutral-white-color;
	margin: 8px 0 16px;
	li {
		+ li {
			margin-top: 8px;
		}
	}
}
