#overlay {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba($color: $hvh-neutral-black-color, $alpha: 0.8);
	z-index: 550;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms,
		left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}

.blur-up {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}
}

.hvh-progress-wizard {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin: 32px 0;
	> a {
		&.active {
			.hvh-progress-wizard-steplabel {
				color: $hvh-primary-color;
			}
			.hvh-progress-wizard-icon {
				i {
					&:not([class*='icon-']) {
						display: none;
					}
					&.icon-active {
						color: $hvh-primary-color;
						display: inline-block;
						box-shadow: 0 0 0 0
							rgba($color: $hvh-primary-color, $alpha: 0.1);
						animation: pulse-red 2s infinite;
						border-radius: 50%;
						transition: 0.3s all ease-in-out;
					}
					@keyframes pulse-red {
						0% {
							box-shadow: 0 0 0 0
								rgba($color: $hvh-primary-color, $alpha: 0.7);
						}
						70% {
							box-shadow: 0 0 0 10px
								rgba($color: $hvh-primary-color, $alpha: 0);
						}
						100% {
							box-shadow: 0 0 0 0
								rgba($color: $hvh-primary-color, $alpha: 0);
						}
					}
				}
			}
		}
		&.complete {
			.hvh-progress-wizard-steplabel {
				color: $hvh-semantic-positive-color;
			}
			.hvh-progress-wizard-icon {
				i {
					&:not([class*='icon-']) {
						display: none;
					}
					&.icon-complete {
						color: $hvh-semantic-positive-color;
						display: inline-block;
					}
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.hvh-progress-wizard-icon,
.hvh-progress-wizard-steplabel {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	color: $hvh-neutral-medium-sub-color;
}

.hvh-progress-wizard-icon {
	position: relative;
	z-index: 10;
	i {
		color: $hvh-neutral-light-disable-color;
		font-size: 2.4rem;
		background-color: $hvh-neutral-white-color;
		border-radius: 50%;
		&[class*='icon-'] {
			display: none;
		}
	}
	&:after,
	&:before {
		content: '';
		height: 4px;
		position: absolute;
		width: 100%;
	}
	&:after {
		background-color: $hvh-neutral-lighter-border-color;
		z-index: -2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:before {
		background-color: $hvh-semantic-positive-color;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
		opacity: 0;
	}
}

.hvh-progress-wizard-steplabel {
	margin-top: 4px;
}

.fancybox-content {
	padding: 0;
	background: transparent;
}
