.breadcrumb {
	.breadcrumb-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 12px 16px;
		margin-top: 16px;
		background: $hvh-neutral-white-color;
	}
	.breadcrumb-navigation,
	.filter-group {
		display: inline-flex;
		flex-wrap: wrap;
	}
	.breadcrumb-navigation {
		li {
			+ li {
				margin-left: 16px;
			}
			> a {
				font-size: 1.6rem;
				color: $hvh-neutral-medium-sub-color;
			}
			&:not(:last-child) {
				> a {
					position: relative;
					&:after {
						content: '\f054';
						font-family: $hvh-font-icons;
						margin-left: 16px;
					}
				}
			}
			&:last-child {
				> a {
					color: $hvh-primary-color;
					font-weight: 700;
				}
			}
		}
	}
	.filter-group {
		margin-left: auto;
		.filter-item {
			display: inline-flex;
			align-items: center;
			+ .filter-item {
				padding-left: 24px;
			}
			label {
				padding-right: 16px;
			}
			.select-filter {
				width: auto;
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				background: $hvh-neutral-white-color
					url('../images/icons/select-dropdown.svg') no-repeat right
					1rem center;
				background-size: 8px 10px;
				border: 2px solid $hvh-neutral-lighter-border-color;
				appearance: none;
				padding: 4px 32px 4px 16px;
				border-radius: 4px;
			}
		}
	}
}
