.hero-banner {
	.item-slide {
		position: relative;
		height: 70vh;
	}
	.content-wrapper,
	.content {
		position: absolute;
		top: 0;
	}
	.content-wrapper {
		padding-top: $hvh-height-main-header;
		width: 100%;
		height: 100%;
		left: 0;
	}
	.content {
		z-index: 10;
		left: 10px;
		max-width: 400px;
		margin-top: 10%;
		h3,
		p {
			color: $hvh-neutral-white-color;
		}
		h3 {
			font-size: 7.2rem;
		}
		p {
			font-size: 1.8rem;
		}
		.action {
			margin-top: 24px;
		}
	}
}
