.data-detail-wrapper {
	padding-top: $hvh-height-main-header;
	background-color: $hvh-primary-blue-light-color-06;
	padding-bottom: 56px;
}

.card-data-detail-left,
.card-data-detail-right {
	background-color: $hvh-neutral-white-color;
	border-radius: 8px;
	margin-top: 24px;
}

.card-data-detail-left {
	.card-head {
		border-radius: 8px 8px 0 0;
		background-color: $hvh-primary-blue-light-color-05;
	}
	h1 {
		color: $hvh-primary-color;
		font-size: 3.4rem;
		text-align: center;
		padding: 16px;
	}
	.card-body {
		padding: 16px;
	}
	.list-nav {
		li {
			padding: 4px 8px;
			border-radius: 0 16px 16px 0;
			> a {
				color: $hvh-neutral-medium-sub-color;
			}
			+ li {
				margin-top: 12px;
			}
			i {
				font-size: 1.6rem;
				margin-right: 8px;
				min-width: 22px;
			}
			&.active {
				background-color: $hvh-primary-blue-light-color-06;
				> a {
					color: $hvh-primary-color;
					font-weight: 700;
				}
			}
		}
	}
	.list-information {
		li {
			i {
				margin-right: 8px;
			}
			+ li {
				margin-top: 8px;
			}
		}
	}
	.card-information-account {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 16px;
		box-shadow: 0 0 12px rgba($color: $hvh-primary-color, $alpha: 0.06);
		border-radius: 8px;
		margin-top: 16px;
		.avatar {
			-ms-flex: 0 0 80px;
			flex: 0 0 80px;
			max-width: 80px;
			height: 80px;
			border-radius: 50%;
			overflow: hidden;
			border: 3px solid $hvh-neutral-lighter-border-color;
		}
		.content {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 16px;
		}
	}
	.card-buttons-action {
		display: flex;
		justify-content: center;
		margin-top: 16px;
	}
}

.card-data-detail-right {
	padding: 16px;
	box-shadow: 0 0 12px rgba($color: $hvh-primary-color, $alpha: 0.06);
}

.bills-liabilities-detail,
.invoice-detail {
	.table-data {
		.block-table {
			padding: 0;
			border: 1px solid $hvh-neutral-lighter-border-color;
			.name-product {
				width: 40%;
				> a {
					font-weight: 400;
				}
			}
			td {
				&.name-product {
					> a {
						color: $hvh-semantic-information-color;
					}
				}
			}
		}
	}
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.bills-liabilities-detail {
	h2 {
		color: $hvh-primary-dark-color-02;
		font-size: 2.2rem;
		margin-bottom: 16px;
	}
	div {
		margin-bottom: 16px;
	}
	.infor-client {
		b {
			display: inline-block;
			margin-bottom: 16px;
		}
		ul {
			li {
				i {
					margin-right: 8px;
				}
				+ li {
					margin-top: 8px;
				}
			}
		}
	}
	.invoice {
		display: flex;
		flex-wrap: wrap;
		b {
			display: inline-block;
			margin-bottom: 4px;
			a {
				color: $hvh-semantic-information-color;
				font-weight: 400;
			}
		}
		p {
			font-size: 1.2rem;
			color: $hvh-neutral-medium-sub-color;
		}
		.invoice-status {
			padding: 8px 16px;
			margin-left: auto;
			display: inline-flex;
			align-items: center;
			border-radius: 8px;
			i {
				margin-right: 8px;
			}
			span {
				font-weight: 700;
			}
		}
	}
	.terms-of-payment {
		margin-bottom: 0;
		b {
			span {
				font-weight: 400;
			}
		}
	}
}

.invoice-detail {
	h2 {
		color: $hvh-primary-dark-color-02;
		font-size: 2.2rem;
		margin-bottom: 16px;
	}
	.company-information {
		display: flex;
		align-items: center;
	}
	.card-header {
		padding-bottom: 16px;
		border-bottom: 1px solid $hvh-neutral-lighter-border-color;
	}
	.company__content {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 24px;
		h3 {
			font-size: 1.4rem;
		}
		p {
			color: $hvh-neutral-medium-sub-color;
			font-size: 1.2rem;
		}
	}
	.card-body {
		margin-top: 16px;
	}
	.infor-client {
		max-width: 50%;
		margin-left: auto;
		margin-bottom: 24px;
		ul {
			li {
				i {
					margin-right: 8px;
				}
				+ li {
					margin-top: 8px;
				}
			}
		}
	}
	.table-normal-data {
		table {
			width: 100%;
		}
	}
	.note {
		display: inline-block;
		margin-top: 16px;
	}
	.card-footer {
		margin-top: 20px;
		padding-top: 8px;
		border-top: 1px solid $hvh-neutral-lighter-border-color;
		.list-information {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-right: -8px;
			margin-left: -8px;
			li {
				padding-left: 8px;
				padding-right: 8px;
				i {
					color: $hvh-neutral-medium-sub-color;
					margin-right: 8px;
				}
				span {
					font-weight: 700;
				}
			}
		}
		.desc {
			margin-top: 12px;
			p {
				text-align: center;
				color: $hvh-neutral-medium-sub-color;
			}
		}
	}
}
