.hvh-payment {
	padding-top: $hvh-height-main-header;
	background: $hvh-primary-blue-light-color-06;
	padding-bottom: 24px;
	.btn-primary {
		&[disable] {
			pointer-events: none;
			opacity: 0.8;
		}
	}
}

.hvh-form-checkout {
	background: $hvh-neutral-white-color;
	border-radius: 8px;
	.tab__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 24px;
		margin-right: 24px;
		padding-top: 16px;
		border-bottom: 2px solid $hvh-neutral-lighter-border-color;
		.item {
			color: $hvh-neutral-medium-sub-color;
			display: inline-flex;
			align-items: center;
			padding: 8px 16px;
			font-weight: 500;
			background: transparent;
			transition: 0.3s all ease-in-out;
			i {
				font-size: 2rem;
				margin-right: 8px;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				width: 0;
				left: 50%;
				height: 2px;
				background-color: $hvh-primary-color;
				transform: translateX(-50%);
				transition: 0.3s all ease-in-out;
			}
			&.active {
				color: $hvh-primary-color;
				&:after {
					width: 100%;
				}
			}
			+ .item {
				margin-left: 16px;
			}
		}
	}
	.block-form {
		padding: 24px;
	}
	.hvh-checkout-head {
		margin-bottom: 16px;
		h3 {
			font-size: 1.8rem;
		}
	}
	.hvh-payments {
		margin-top: 16px;
		.hvh-item-payment {
			+ .hvh-item-payment {
				margin-top: 16px;
			}
		}
		.hvh-item-payment-online {
			font-size: 1.8rem;
			+ .hvh-item-payment-online {
				margin-top: 16px;
			}
			.images {
				margin-top: 16px;
				padding-left: 24px;
				img {
					box-shadow: 0 3px 6px
						rgba($color: $hvh-neutral-black-color, $alpha: 0.16);
					+ img {
						margin-left: 16px;
					}
				}
			}
			.note {
				display: inline-flex;
				align-items: center;
				font-size: 1.2rem;
				margin-top: 16px;
				i {
					color: $hvh-semantic-information-color;
					padding-right: 8px;
				}
			}
		}
	}
	.buttons-form {
		display: flex;
		justify-content: space-between;
		padding: 24px;
	}
}