// *** CART *** //
section.hvh-login(style="--data-bg:url(../images/bg-login.png)")
	.container.h-100
		.row.no-gutters.h-100.align-items-center
			.loign-wrapper.col-12
				.row.no-gutters
					.col-lg-6
						.wrapper-say-hi(style="--data-bg:url(../images/bg-lgoin-say-hi.png)")
							h1 Xin chào!!
							p Một ứng dụng quản lí blahh blahhh cái gì đó cho em xin content chỗ này nha các anh em chứ em không biết chế cái gì cả ạ.
					.col-lg-6
						include form