extends views/_layouts/layout

block var
	- bodyClass = "address-management-page"
	- pageTitle = "Address Management | Bemo"
	- isHeaderInverted = false
block main
	include ./views/_address_management/body