extends views/_layouts/layout

block var
	- bodyClass = "complete-payment-page"
	- pageTitle = "Bemo Complete Payment | Bemo"
	- isHeaderInverted = false
block main
	include ./views/_payment_complete/body