extends views/_layouts/layout

block var
	- bodyClass = "payment-credit-card-page"
	- pageTitle = "Payment Credit Card | Bemo"
	- isHeaderInverted = false
	- IsLogin = false
block main
	include ./views/_payment_credit_card/body