extends views/_layouts/layout

block var
	- bodyClass = "pricing-page"
	- pageTitle = "Bemo Pricing | Bemo"
	- isHeaderInverted = true
	- IsLogin = false
block main
	include ./views/_components/banner-title-page
	include ./views/_pricing/body