extends views/_layouts/layout

block var
	- bodyClass = "table-data-bills-liabilities-page"
	- pageTitle = "Bills & Liabilities | Bemo"
	- isHeaderInverted = false
	- IsLogin = true
block main
	section.table-data-wrapper
		include ./views/_components/breadcrumb
		include ./views/_table_data/bills-liabilities