// *** CART *** //
section.hvh-address-management
	.container
		.row
			.col-12
				include progress-wizard
			.col-12
				include form
			.col-12
				.d-flex.justify-content-between.mt-24
					a.btn.btn-secondary.border-primary(href="index.html")
						i.fal.fa-arrow-left
						span Quay về
					a.btn.btn-primary(href="address-management.html")
						span Thanh toán ngay
						i.fal.fa-arrow-right