section.home-intention-company.pd-section
	.container
		h2.hvh-home-title.text-center.cl-primary Định hướng công ty
		.row
			.col-lg-5
				.block-content
					h4
						i.fas.fa-user-friends
						span People
					ul
						li Engineer team familiar with Japan culture, with more than 5 years experience working for top Japan companies
						li Capable from analysis to operating system stage.
					h4
						i.fas.fa-laptop-code
						span TECHNOLOGY
					ul
						li Utilized most-updated technologies to achieve greater performance, increase expandability, optimize budget for clients.
					h4
						i.fas.fa-laptop-code
						span BUSINESS SCALE
					ul
						li Over 200 engineers with offices in 5 cities, certified in Quality Management ISO 9001, Information Security Management ISO 27001
						li Vietnam’s Top 20 Golden Brands 2020 in Product Quality category.
			.col-lg-7
				img.lazyload.blur-up(src="./images/home-intention-company/1.png", alt="home-intention-company")