footer.hvh-main-footer
	.container
		a.hvh-logo-main-footer(href="index.html")
			img.lazyload.blur-up(src="./images/logo-bap-software.png", alt="LOGO-BAP")
		.row
			.col-12.col-lg-7.col-xl-6
				.row
					.col-12.col-md-4
						.row
							.col-6.col-md-12
								h3.hvh-footer-title CỘNG ĐỒNG
								ul.hvh-footer-links
									li
										a(href="#") Tutorial
									li
										a(href="#") Tài liệu
									li
										a(href="#") Diễn đàn
									li
										a(href="#") Danh sách gửi thư
							.col-6.col-md-12
								h3.hvh-footer-title OPEN SOURCE
								ul.hvh-footer-links
									li
										a(href="#") Tutorial
									li
										a(href="#") Tài liệu
									li
										a(href="#") Diễn đàn
									li
										a(href="#") Danh sách gửi thư
					.col-6.col-md-4
						h3.hvh-footer-title DỊCH VỤ
						ul.hvh-footer-links
							li
								a(href="#") Bemo.sh Hosting
							li
								a(href="#") Hỗ trợ
							li
								a(href="#") Nâng cấp
							li
								a(href="#") Giáo dục
							li
								a(href="#") Find an Accountant
							li
								a(href="#") Tìm một đối tác
							li
								a(href="#") Trở thành một đối tác
					.col-6.col-md-4
						h3.hvh-footer-title VỀ CHÚNG TÔI
						ul.hvh-footer-links
							li
								a(href="#") Công ty của chúng tôi
							li
								a(href="#") Liên hệ với chúng tôi
							li
								a(href="#") Công việc
							li
								a(href="#") Sự kiện
							li
								a(href="#") Blog
							li
								a(href="#") Khách hàng
							li
								a(href="#") Những đối tác
							li
								a(href="#") Hợp pháp
							li
								a(href="#") Riêng tư
							li
								a(href="#") Bảo mật
			.col-12.col-lg-5.col-xl-5.offset-xl-1
				.form-group
					select.form-control.custom-select.hvh-language-selector
						option( value="test") Tiếng Việt
						option( value="test") Tiếng Nhật
						option( value="test") Tiếng Anh
				p.hvh-desc-footer Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
				p.hvh-desc-footer Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.
				ul.hvh-socials
					li
						a(href="#")
							i.fab.fa-facebook
					li
						a(href="#")
							i.fab.fa-youtube
					li
						a(href="#")
							i.fab.fa-linkedin-in