header.hvh-main-header
	.container
		.hvh-main-header-main
			a.hvh-logo-main-header(href="index.html")
				img.lazyload.blur-up(src="./images/logo-bap-software.png", alt="LOGO-BAP")
			.hvh-header-buttons
				a.btn.btn-login(href="#") Đăng nhập
				a.btn.btn-secondary(href="#") Dùng thử miễn phí
			nav.hvh-primary-nav
				ul
					li.has-sub
						a(href="#") Ứng dụng
					li.has-sub
						a(href="#") Cộng đồng
					li
						a(href="index.html") Giá cả