header.hvh-main-header
	.container
		.hvh-main-header-main
			a.hvh-logo-main-header(href="index.html")
				img.lazyload.blur-up(src="./images/logo-bap-software.png", alt="LOGO-BAP")
			.hvh-header-buttons
				a.btn.btn-login(href="login.html")
					i.fal.fa-sign-in-alt
					span Đăng nhập
				.account
					.avatar
						img.lazyload.blur-up.fullsize.object-cover(src="./images/avatar-user-default.png", alt="AVATAR")
					.name
						span Huyen Pham
			nav.hvh-primary-nav
				ul
					li.has-sub
						a(href="#") Ứng dụng
					li.has-sub
						a(href="#") Cộng đồng
					li
						a(href="index.html") Giá cả