block var

<!DOCTYPE html>
html(lang="en")
	head
		// *** META *** //
		include meta
		// *** CSS *** //
		include css
		// *** FAVICON *** //
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		// *** TITLE *** //
		title #{pageTitle}
	body
		// *** HEADER *** //
		block header
			include header
		// *** MAIN *** //
		main
			block main
			// *** PAGE VERIFY TEMPLATE *** //
			input#page-verify-template(hidden current-page=`${bodyClass}` header-inverted=`${isHeaderInverted}` is-login=`${IsLogin}`)
		// *** OVERLAY *** //
		#overlay
		// *** FOOTER *** //
		block footer
			include footer
		// *** JS *** //
		include js