// *** PROGRESS WIZARD *** //
.hvh-progress-wizard
	a.no-decoration.complete(href="cart.html")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Xem đơn hàng
	a.no-decoration.complete(href="payment.html")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Thanh toán
	a.no-decoration.complete(href="payment-complete.html")
		.hvh-progress-wizard-step
			.hvh-progress-wizard-icon
				i.fas.fa-circle
				i.fad.fa-dot-circle.icon-active
				i.fas.fa-check-circle.icon-complete
			.hvh-progress-wizard-steplabel Xác nhận đơn hàng