// *** POPUP NOTIFICATION VALID *** //
section.notification-valid
	.icon
		img(src="./images/icons/complete-notification.svg", alt="Complete Notification")
	.content
		h3 Giao dịch thành công
		p Đơn hàng #210130MAX4E5G5 của bạn đã được giao dịch thành công
		p Vui lòng đăng nhập email để xác nhận bạn đã nhận hàng và hài lòng với sản phẩm trong vòng 3 ngày. 
	.buttons
		a.btn.btn-primary.btn-lg(href="index.html") Trở về trang chủ