.banner-title-page {
	position: relative;
	min-height: 160px;
	background: $hvh-primary-color;
	padding-top: $hvh-height-main-header;
	padding-bottom: 24px;
	h1 {
		display: inline-flex;
		position: relative;
		color: $hvh-neutral-white-color;
		font-size: 2.8rem;
		margin-top: 24px;
		padding-bottom: 8px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 70%;
			height: 4px;
			border-radius: 4px;
			background: $hvh-primary-blue-light-color-05;
		}
	}
}
