// *** FORM PRICING *** //
.hvh-pricing-form
	.hvh-pricing-step
		.row
			.col-lg-6
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Chọn số lượng người dùng
					.hvh-pricing-step-body
						.hvh-pricing-users
							.input-group
								input.form-control.border-primary-blue-light-color-05(type="number" min="1" value="1")
								.input-group-append
									span.input-group-text.bg-primary-blue-light-5.border-primary-blue-light-color-05 Người sử dụng
							.hvh-result-pricing-users
								b.hvh-pricing-user-pricing-yearly
									span.hvh-pricing-user-amount-yearly 120.000
									span.hvh-pricing-currency đ
								del.hvh-pricing-user-pricing-yearly
									span.hvh-pricing-user-amount-yearly-full 160.000
									span.hvh-pricing-currency đ
								small /người dùng/tháng
			.col-lg-6
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Chọn loại tiền tệ
					.hvh-pricing-step-body
						.hvh-pricing-currencies
							select#currency_id.custom-select(name="currency_id")
								option(value) Chọn loại tiền tệ
								-for(i=0;i<10;i++)
									option(value="test") Vietnam Dong
	.hvh-pricing-step
		.row
			.col-lg-12
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Chọn ứng dụng của bạn
					.hvh-pricing-step-body
						.list-module-items-container
							-for(j=0;j<4;j++)
								.group-module
									.group-module-name Nhân sự
									.form-container
										.form-row
											-for(i=1;i<8;i++)
												.col-12.col-sm-6.col-lg-4
													label.app-item
														.hvh-pricing-app-icon
															img.lazyload.blur-up(src="./images/icons/icon-module.svg", alt="CRM - Quản lý quan hệ khách hàng")
														.hvh-pricing-app-name
															.hvh-pricing-app-real-name.lcl.lcl-1 CRM - Quản lý quan hệ khách hàng
															.hvh-pricing-app-price
																b
																	span.amount_to_localize $8.00 
																	span.hvh-pricing-currency USD
																| /tháng
														.hvh-form-checkbox-module
															input.hvh-pricing-app-checkbox(type="checkbox")
	.hvh-pricing-step
		.row
			.col-lg-12
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Tích hợp thêm
					.hvh-pricing-step-body
						.list-module-items-container
							.form-container
								.form-row
									-for(i=1;i<6;i++)
										.col-12.col-sm-6.col-lg-4
											label.app-item
												.hvh-pricing-app-icon
													img.lazyload.blur-up(src="./images/icons/icon-module.svg", alt="CRM - Quản lý quan hệ khách hàng")
												.hvh-pricing-app-name
													.hvh-pricing-app-real-name.lcl.lcl-1 CRM - Quản lý quan hệ khách hàng
													.hvh-pricing-app-price
														b
															span.amount_to_localize $8.00 
															span.hvh-pricing-currency USD
														| /tháng
												.hvh-form-checkbox-module
													input.hvh-pricing-app-checkbox(type="checkbox")
	.hvh-pricing-step
		.row
			.col-lg-12
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Chọn loại lưu trữ của bạn
					.hvh-pricing-step-body
						ul.hvh-pricing-checkox-items
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="hosting")
										span Lưu trữ đám mây*
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="hosting")
										span On-premise
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="hosting")
										span Nền tảng điện toán đám mây Bemo.sh
										small
											a(href="#" target="_blank") (Thông tin thêm và Odoo.sh)
	.hvh-pricing-step
		.row
			.col-lg-12
				.hvh-pricing-wrapper
					.hvh-pricing-step-head
						h3 Dịch vụ thực hiện
					.hvh-pricing-step-body
						ul.hvh-pricing-checkox-items
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="implementation_service")
										span Tự triển khai hệ thống
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="implementation_service")
										span On-premise
								li.hvh-pricing-item-checkbox
									label
										input(type="radio" name="implementation_service")
										span Với một đối tác địa phương 
										small (được đề nghị cho 
											b >50 người dùng
											| )